@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--color-yellow-500);
  --color-secondary: var(--color-blue-600);
  --color-primary: var(--color-yellow-500);
  --color-accent: var(--color-purple-500);
  --color-success: var(--color-green-500);
  --color-danger: var(--color-red-500);
  --color-warning: var(--color-orange-500);
  --color-info: var(--color-cyan-500);
}
